/*
 * Always set the map height explicitly to define the size of the div
 * element that contains the map.
 */
#map {
  height: 90%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#controls div {
  margin: 5px;
  padding: 2px;
  background-color: whitesmoke;
  border: 1px;
  border-style: solid;
  border-color: lightskyblue;
  border-radius: 3px;
}